@page
@model SIMS.Pages.StudentInformation.StudentInformationModel
@{
    ViewData["Title"] = "Student Information";
}

<div class="container">
    <div class="row">
        <h2>Student Information</h2>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Course Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.AllStudents)
                {
                    <tr>
                        <th scope="row">@student.Id</th>
                        <td>@student.StudentName</td>
                        <td>@student.City</td>
                        <td>@student.Courses.CourseName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
